* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;

}

header {
    margin: auto;
    width: 1080px;
    height: 215px;
    display: flex;
    align-items: center;
    position: relative;
}
h3{
    margin: 20px;
}

Login {
    background: #ffffff;
    min-height: 700px;
}
.LoginPageCardDiv{
    margin-left: 30%;
    margin-top: 20%;
    width: 70%;
}
