* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;

}

header {
    margin: auto;
    width: 1080px;
    height: 215px;
    display: flex;
    align-items: center;
    position: relative;
}
h3{
    margin: 20px;
}

main {
    background: #ffffff;
    min-height: 700px;
}
.MainPageCardDiv {
    flex-direction: row;
    flex-wrap : wrap;
    display: flex;
    margin-left: 5%;
    margin-top: 4%;
    justify-content: space-between;
    background-color: #f5eed9;
    width: 70%;
}
.MainPageCardDivPerson {
    flex-direction: row;
    flex-wrap : wrap;
    display: flex;
    margin-left: 5%;
    margin-top: 4%;
    justify-content: space-between;
    background-color: #f5eed9;
    width: 90%;
}
.MainPageCardDivPersonDiv{
    flex-direction: row;
    flex-wrap : wrap;
    display: flex;
    margin-left: 10%;
    margin-top: 4%;
    justify-content: space-between;
    background-color: #f5eed9;
    width: 80%;
}
.PersonMini {
    margin-bottom: 5%;
}

.MainPageCard {
    width: 200px;
    height: 200px;
    /*background-color: #f5eed9;*/
    display: flex;
    /*object-fit: cover;*/
}
.MainPageCardPerson {
    width: 200px;
    height: 200px;
    /*background-color: #f5eed9;*/
    display: flex;
    /*object-fit: cover;*/
    margin-bottom: 7%;


}
.honeyBoards{
    position: absolute;
    width: 20%;
    height:55%;
    top: 50%;
    left: 78%;
    background-color: #eaf6fc;
}
.honeyBoardDiv {
    flex-direction: column;
    flex-wrap : wrap;
    white-space:pre-wrap;
}
.honeyBoardHeader{
    justify-content: center;
}

.freeBoards{
    position: absolute;
    width: 20%;
    height: 55%;
    top: 120%;
    left: 78%;
    background-color: #ffeeee;
}
.freeBoardDiv {
    flex-direction: column;
    flex-wrap : wrap;
    white-space:pre-wrap;
}
.freeBoardHeader{
    justify-content: center;
}
.MainPageMiniHeader{
    font-size: 15px;
    font-weight: bold;
    width: 300%;
    background-color: #f5eed9;
    flex-direction: row;
    flex-wrap : wrap;
}
.Pic{
    width: 131%;
    height: 100%;
    object-fit: cover;
}
.linkStyle{
    position: absolute;
    margin-left: 70%;
    margin-top: 2%;
    font-weight: bolder;
}
.recommendFirst {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    margin-left: 3%;
}
.recommendFirst1 {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1.5%;
    margin-left: 3%;
}
.recommendSecond {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    margin-left: 3%;
}
.recommendSecond1 {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1.5%;
    margin-left: 3%;
}
.recommendThird {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    margin-left: 3%;
}
.recommendThird1 {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1.5%;
    margin-left: 3%;
}

